*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #020410;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 18.5%;
    background: transparent;
    display: flex;
    letter-spacing: 2px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-top: 30px;
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}
.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;
}
.search-bar{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}
.search-bar input::placeholder{
    color: #e4e4e4;
}
.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
}
.search-bar button i{
       font-size: 22px;
       color: #e4e4e4;
}

.background{
    width: 100%;
    height: 100vh;
    background: url(back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 75%;
    background: url(back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}
.container .content{
    width: 58%;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.content .logo{
    font-size: 30px;
}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span{
    font-size: 25px;
}
.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}
 .socaii-icons a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
 }
  .socaii-icons a:hover i{
    transform: scale(1.2);
  }

.container .logreg-bar{
    width: calc(100% - 58%);
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.logreg-bar .form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    color: #e4e4e4;
}
.form-box h2{
    font-size: 32px;
    text-align: center;
}
.form-box .input-box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 500;
    pointer-events: none;
    transition: .5s ease;
    
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.form-box .remeber-forget{
    font-size: 14.5ps;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}
.remeber-forget label input{
    accent-color: #e4e4e4;
    margin-right: 3px;
}
 .remeber-forget a{
    color: #e4e4e4;
    text-decoration: none;
 }

 .remeber-forget a:hover{
    text-decoration: underline;
 }
 .btn{
    width: 100%;
    height: 45px;
    background: #c4103d;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    color: #e4e4e4;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

 }
 .form-box .login-regesiter{
    font-size: 14.5px;
    font-weight: 400;

    text-align: center;
    margin-top: 500;
    text-align: center;
 }
 .login-regesiter p a{
    color: #e4e4e4;
    font-weight: 500;
    text-decoration: none;
 }
 .login-regesiter p a:hover{
    text-decoration: underline;
 }
